<!DOCTYPE html>
<html ng-app="VideoNoteApp">
<head>

	<title>Landing</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/app.css">
	<link rel="stylesheet" href="/css/nav.css">
	<link rel="stylesheet" href="/css/video-upload.css">
	<link rel="stylesheet" href="/css/landing.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body class="container-fluid">

	<div class="row login-row">
		<h1> <a href="/login">Login!</a></h1>
	</div>

<div ui-view="nav"></div>

	<!-- Scripts -->
	
	<script src="../scripts/app.module.js"></script>
	<script src="/scripts/auth.js"></script>
	<script src="../scripts/app.notefactory.factory.js"></script>
	<script src="../scripts/app.notectrl.controller.js"></script>
	<script src="../scripts/app.videoctrl.controller.js"></script>

</body>
</html>
