<!DOCTYPE html>
<html ng-app="VideoNoteApp">
<head>


	<title>Video App</title>
	<link href="//vjs.zencdn.net/5.8/video-js.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/app.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.min.js"></script>
</head>
<body>

	<div class="note-container" ng-controller="noteController as nCtrl">
		
		<div class="note">
			<!-- Begin main note view -->
			<div class="main-video">
				<video crossOrigin="anonymous" id="my_video_1" class="video-js responsive vjs-default-skin vjs-fluid vjs-16-9 vjs-big-play-centered" width="640px" height="267px"
			      controls autoplay poster=''
			      data-setup='{ "aspectRatio":"640:267", "playbackRates": [1, 1.5, 2] }'>
				<source src="http://vjs.zencdn.net/v/oceans.mp4" type="video/mp4" />

			    </video>
			</div>

			
			<form ng-show="nCtrl.showForm" ng-submit="nCtrl.submitNote()" name="noteForm">
				<!-- <input type="file" accept="video/*"> -->
				<canvas id="thecanvas">
		        </canvas>
				<div>
					<input id="note-title" required ng-model="nCtrl.newNote.title" type="text" name="title" placeholder="Add Title">
				</div><!-- End main note view -->
				<div>
					<!-- Submit new note to the database -->
					<textarea required ng-model="nCtrl.newNote.note" name="note" id="note-content" cols="30" rows="10" placeholder="Write your notes"></textarea>
				</div>

			<!-- Submit form button -->
				<button ng-disabled="nCtrl.$invalid" type="submit">
					Submit
				</button>	
				<!-- Cancel button -->
				<button novalidate ng-click="nCtrl.cancel()">Cancel</button>
			</form>

				<button 
					ng-hide="nCtrl.hideAddBtn" 
					ng-click="nCtrl.capture()" 
					type="submit">
					Capture
				</button>	
		</div>

		<!-- Show Notes -->
		<div ng-repeat="item in nCtrl.noteList track by $index">
			<span>
				<h3>{{item.title}}</h3>
				<p>Time: {{item.cueTime}}</p>
			</span>

				<a href="#" ng-click="nCtrl.jumpToCueTime($index)">
					<img ng-src="{{item.vidThumb}}" alt="Thumbnail image of note cue">
				</a>

			<p>{{item.cueNote}}</p>
		</div>

	</div>

	<!-- Scripts -->
	<script src="//vjs.zencdn.net/5.8/video.min.js"></script>	
	<script src="scripts/vendors/videojs-playlist/dist/videojs-playlist.js"></script>
	<script src="scripts/app.module.js"></script>
	<script src="scripts/app.notefactory.factory.js"></script>
	<script src="scripts/app.notectrl.controller.js"></script>
	<script src="scripts/app.videoctrl.controller.js"></script>

</body>
</html>