<div class="container-fluid">
	
	<div ng-controller="noteController as nCtrl" class="row note-row">

		<div class="col-sm-12 col-md-12 align-notes">

			<div ng-controller="videoController as vCtrl" class="col-xs-12 col-sm-12 col-md-7 col-lg-8 note-video">
				
				<div class="row video-row">	
					<video 
						 crossOrigin="anonymous" 
						id="my_video_2"
						controls
				      	ng-src="{{vCtrl.trustSrc(vCtrl.currentVideoUrl)}}">
				    </video>
				</div>
					<!-- Begin main note view -->

				<div class="row">	
					<div class="col-md-12 videoInfo">
						<h3>{{vCtrl.currentVideo.title}} - {{vCtrl.currentVideo.description}}</h3>
					</div>	<!-- End Video Info Row -->		
				</div>

				<div class="row capture-form-row">
					<div class="col-md-12 capture-form-container">
						
						<form class="capture-form" ng-show="nCtrl.showForm" ng-submit="nCtrl.submitNote()" name="noteForm">

							<canvas id="thecanvas">
					        </canvas>

							<div class="row">

								<input id="note-title" required ng-model="nCtrl.newNote.title" type="text" name="title" placeholder="Add Title">

							</div><!-- End main note view -->
							
							<div>
								<!-- Submit new note to the database -->
								<textarea required ng-model="nCtrl.newNote.note" name="note" id="note-content" cols="30" rows="10" placeholder="Write your notes"></textarea>
							</div>

						<!-- Submit form button -->
							<input class="btn btn-primary" ng-disabled="nCtrl.$invalid" type="submit" value="Submit"/>	
							<!-- Cancel button -->
							<input class="btn btn-danger" type="button" novalidate ng-click="nCtrl.cancel()" value="Cancel" />
						</form>

						<button 
							class="capture-btn btn btn-primary"
							ng-hide="nCtrl.hideAddBtn" 
							ng-click="nCtrl.capture()" 
							type="submit">
							Capture
						</button>	
					</div> <!-- Video Note column -->
			
				</div> <!-- End row -->
			</div> <!-- End video-note -->
			

			<div class="note-list-container col-sm-12 col-md-4 col-lg-4">
					<div class="row note-list-title">
						<h2>Notes</h2>
					</div>

				<div class="row note-info-row" ng-repeat="note in nCtrl.noteList track by $index">
					<div class="col-md-12 note-list">
					
					<ul>
						<li>

						<div class="row">
							<div class="col-md-12">
					
								<div class="row">
									<div class="col-md-12 thumbnail-align">
											<h4>{{note.title}}</h4>
										<!-- Thumbnail row -->
										<a href="" ng-click="nCtrl.jumpToCueTime($index)">
											<img ng-src="{{note.vidThumb}}" alt="Thumbnail image of note cue" class="img-thumbnail">
										</a>
									</div>	
								</div>
								<!-- Delete button row -->
								<div class="row ">
									<div class="col-md-12 col-lg-12 note-info-container">

										<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 cue-time-align">
											<h4>Time: {{note.cueTime}}</h4>
										</div>


										<div class="col-md-4 col-lg-4 delete-btn-align">
											<input class="btn btn-danger delete-btn" type="submit" value="Delete" ng-click="nCtrl.deleteNote(note._id)">
										</div>

									</div>
										<div class="col-md-12 col-lg-12 cue-note">
											<p>{{note.cueNote}}</p>
										</div>
								</div> <!-- End row -->

							</div>

							

								
						</div>


	
						</li>
					</ul>







					</div> <!-- End column -->
				</div> <!-- End Row -->
			</div> <!-- End NoteList -->
			
		</div>

	</div>	<!-- End row -->	
</div>