body, html {
  margin: 0;
  overflow: hidden;
  height: 100%; }

body {
  padding-left: 0;
  padding-right: 0;
  margin: 0;
  background-color: #ecf0f1; }

body.container-fluid {
  padding: 0; }

.note-video {
  padding-left: 0; }

#my_video_2 {
  width: 100%; }

.videoInfo {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #fff;
  border-radius: 2px; }

.videoInfo h3 {
  margin-top: 0;
  margin-bottom: 20px; }

.align-notes {
  position: relative;
  width: 100%;
  margin: 0 auto; }

.note-list-container {
  background-color: #fff;
  margin-top: 52px;
  border-radius: 2px;
  padding: 10px;
  position: fixed;
  width: 400px;
  overflow-y: scroll;
  top: 0;
  bottom: 0;
  right: 0; }

.note-list {
  margin-bottom: 20px;
  padding: 0;
  padding-top: 4px; }
  .note-list ul {
    padding-left: 0;
    margin: 0 auto; }
    .note-list ul li {
      text-decoration: none;
      list-style: none; }
      .note-list ul li h3 {
        margin: 0; }

.capture-form-row {
  margin-top: 10px; }

.capture-form-container {
  padding: 0;
  margin-top: 5px;
  background-color: #fff;
  border-radius: 2px; }

.capture-form {
  padding: 10px;
  text-align: center; }

.capture-btn {
  width: 100%;
  height: 40px;
  border-radius: 5px; }

#thecanvas {
  width: 50%; }

#note-title {
  width: 50%; }

#note-content {
  width: 50%; }

.note-info-row {
  width: 100%; }

.thumbnail-align {
  text-align: center; }

.delete-btn-align {
  text-align: center; }
