.note-video {
  padding-left: 0; }

#my_video_2 {
  width: 100%; }

.videoInfo {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: white; }
  .videoInfo h3 {
    margin-top: 0;
    margin-bottom: 20px; }

.align-notes {
  position: relative;
  width: 100%;
  margin: 0 auto; }

.note-list {
  margin-bottom: 20px;
  padding: 0;
  padding-top: 10px; }
  .note-list ul {
    padding-left: 0;
    margin: 0 auto; }
    .note-list ul li {
      text-decoration: none;
      list-style: none; }

.capture-form-row {
  margin-top: 10px; }

.capture-form-container {
  padding: 0;
  margin-top: 10px;
  background-color: white; }

.capture-form {
  padding: 10px;
  text-align: center; }

.capture-btn {
  width: 100%; }

#thecanvas {
  width: 50%; }

#note-title {
  width: 50%; }

#note-content {
  width: 50%; }
