body, html {
  margin: 0;
  height: 100%; }

body {
  padding-left: 0;
  padding-right: 0;
  margin: 0;
  background-color: #ecf0f1; }

body.container-fluid {
  padding: 0; }

#myModal {
  margin-top: 70px; }

.video-container {
  margin: 0;
  margin-top: 70px;
  padding: 0;
  border: 0;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center; }
  @media only screen and (max-width: 770px) {
    .video-container {
      margin-top: 120px; } }

.content-alignment {
  display: inline-block;
  position: relative;
  text-align: center;
  top: 10px;
  width: 956px;
  background-color: white;
  -webkit-box-shadow: -2px 4px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -2px 4px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: -2px 4px 5px 0px rgba(0, 0, 0, 0.2); }

.row {
  width: 100%;
  margin: 0; }

.video-grid {
  position: relative;
  display: inline-block;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0;
  text-align: 0; }
  .video-grid .video-grid-preview {
    position: relative;
    display: inline-block;
    width: 90%; }
  .video-grid a:hover {
    text-decoration: none; }
  .video-grid h4 {
    position: relative;
    padding-left: 20px; }
  .video-grid h5 {
    position: relative;
    padding-left: 20px; }

.add-video-btn {
  width: 100%; }
  @media only screen and (max-width: 990px) {
    .add-video-btn {
      max-width: 296px; } }

.delete-video-btn {
  width: 100%;
  background-color: #f22613; }
  @media only screen and (max-width: 990px) {
    .delete-video-btn {
      max-width: 296px; } }

.navbar-text-align {
  margin-right: 20px; }

.input-group {
  width: 100%; }
