<!DOCTYPE html>
<html ng-app="VideoNoteApp">
<head>
	<!-- SPA routing -->
	<!-- <base href="/"> -->

	<title>Video App</title>
	<link href="//vjs.zencdn.net/5.8/video-js.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/app.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.min.js"></script>
</head>
<body ng-controller="noteController as nCtrl">
	<!-- Ui Routing for SPA -->
	<!-- <div ui-view></div> -->


	<div class="note">
	<!-- Begin main note view -->
	<div class="main-video">
		<video id="my_video_1" class="video-js vjs-default-skin vjs-16-9 vjs-big-play-centered" width="640px" height="267px"
	      controls preload="auto" poster=''
	      data-setup='{ "aspectRatio":"640:267", "playbackRates": [1, 1.5, 2] }'>
		<source src="http://video.webmfiles.org/big-buck-bunny_trailer.webm" type="video/webm" />

	    </video>
	</div>


	
	<form ng-show="nCtrl.showForm" novalidate ng-submit="nCtrl.submitNote()" name="noteForm">
		<!-- <input type="file" accept="video/*"> -->
		<canvas id="thecanvas">
        </canvas>
        
		<div>
			<input id="note-title" required ng-model="nCtrl.newNote.title" type="text" name="title" placeholder="Add Title">
		</div><!-- End main note view -->
		<div>
			<!-- Submit new note to the database -->
			<textarea required ng-model="nCtrl.newNote.note" name="note" id="note-content" cols="30" rows="10" placeholder="Write your notes"></textarea>
		</div>

	<!-- Submit form button -->
		<button ng-disabled="nCtrl.$invalid" type="submit">
			Submit
		</button>	
		<!-- Cancel button -->
		<button ng-click="nCtrl.cancel()">Cancel</button>
	</form>

		<button 
			ng-hide="nCtrl.hideAddBtn" 
			ng-click="nCtrl.addNote()" 
			type="submit">
			Add Note
		</button>	
</div>


					<!-- Test image capture -->



	<!-- Scripts -->
	<script src="//vjs.zencdn.net/5.8/video.min.js"></script>
	<script src="scripts/app.module.js"></script>
	<script src="scripts/app.notefactory.factory.js"></script>
	<script src="scripts/app.notectrl.controller.js"></script>
	<script src="scripts/app.videoctrl.controller.js"></script>
  	<script src="scripts/vendors/videojs-playlist/dist/videojs-playlist.js"></script>
<!--   	<script src="scripts/vendors/videojs-playlist-ui/lib/videojs-playlist-ui.js"></script> -->

</body>
</html>