<!DOCTYPE html>
<html ng-app="VideoNoteApp">
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/app.css">
        <link rel="stylesheet" href="/css/nav.css">
        <link rel="stylesheet" href="/css/video-upload.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>


    <body ng-controller="app.auth.controller as auth">
        <h1><a href="/">Homepage</a></h1>
        <form ng-submit="auth.login.submit($event)">
            <h1>Login!</h1>
            <fieldset>
                <label>Email</label>
                <input required placeholder="Email" type="email" ng-model="auth.payload.email"/>
            </fieldset>
            <fieldset>
                <label for="password">Password</label>
                <input required placeholder="Password" type="password" ng-model="auth.payload.password"/>
            </fieldset>
            <button type="submit">Login</button>
            <p ng-class="auth.login.alert">{{ auth.login.message }}</p>
        </form>
        <form ng-submit="auth.register.submit($event)">
            <h1>Register!</h1>
            <fieldset>
                <label>Email</label>
                <input required placeholder="Email" type="text" ng-model="auth.payload.email"/>
            </fieldset>
            <fieldset>
                <label for="password">Password</label>
                <input required placeholder="Create a password" type="password" ng-model="auth.payload.password"/>
            </fieldset>
            <button type="submit">Register</button>
            <p ng-class="auth.register.alert">{{ auth.register.message }}</p>
        </form>
        
            <!-- Scripts -->
    
    <script src="../scripts/app.module.js"></script>
    <script src="/scripts/auth.js"></script>
    <script src="../scripts/app.notefactory.factory.js"></script>
    <script src="../scripts/app.notectrl.controller.js"></script>
    <script src="../scripts/app.videoctrl.controller.js"></script>
    </body>
</html>