<!DOCTYPE html>
<html ng-app="VideoNoteApp">
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/app.css">
        <link rel="stylesheet" href="/css/nav.css">
        <link rel="stylesheet" href="/css/auth.css">
        <link rel="stylesheet" href="/css/video-upload.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>


    <body ng-controller="app.auth.controller as auth">
        
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="/">Note Vids</a>
                </div>

                <div ng-controller="app.auth.controller as auth" class="login-toggle">

                  <p class="navbar-text navbar-right navbar-text-align"><a href="/login" class="navbar-link">Login</a></p>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
            

        <!-- Login and Register Form -->
        <div class="container-fluid login-form-container">

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3">
                    <form ng-submit="auth.login.submit($event)">
                        <h1>Login</h1>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input class="form-control" id="exampleInputEmail1" required placeholder="Email" type="email" ng-model="auth.payload.email">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" ng-model="auth.payload.password">
                        </div>
                        <div class="row">
                            <!-- Button trigger modal -->
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <button type="submit" class="btn btn-default">Login</button>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                                Register
                                </button>
                            </div>    
                        </div>
                        <p ng-class="auth.login.alert">{{ auth.login.message }}</p>
                    </form>
                </div>
            </div>
            



    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

        <div class="modal-dialog" role="document">
        
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Register</h4>
                </div> <!-- End modal header -->




                    <div class="modal-body">
                        <!-- Add Video Form -->

                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3">
                                <!-- Register -->
                                <form>
                                    <h1>Register!</h1>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Email address</label>
                                        <input class="form-control" id="exampleInputEmail2" required placeholder="Email" type="email" ng-model="auth.payload.email">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Password</label>
                                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" ng-model="auth.payload.password">
                                    </div>
                                    
                                    <p ng-class="auth.register.alert">{{ auth.register.message }}</p>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary" value="Register" ng-click="auth.register.submit($event)"/>
                        <input type="button" class="btn btn-danger" data-dismiss="modal" value="Cancel"/>
                    </div>
                </div> <!-- End modal body -->


            </div> <!-- End modal content -->
        
        </div> <!-- End modal dialog -->
    
    </div> <!-- End modal -->




        
    
        
            <!-- Scripts -->
    
        <script src="../scripts/app.module.js"></script>
        <script src="/scripts/auth.js"></script>
        <script src="../scripts/app.notefactory.factory.js"></script>
        <script src="../scripts/app.notectrl.controller.js"></script>
        <script src="../scripts/app.videoctrl.controller.js"></script>
    </body>
</html>